.button {
  box-sizing: border-box;
  color: currentColor;
  user-select: none;
  display: inline-block;
  padding: 0 20px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  border: 0;
  border: none;
  border-top: 1px solid #e5e5e5;
  box-shadow: 0 1px 0 0 #a8a8a8;
  border-radius: 6px;
  background-color: rgb(242,242,242);
  background-image: -moz-linear-gradient( 90deg, rgb(226,226,226) 30%, rgb(242,242,242) 70%);
  background-image: -webkit-linear-gradient( 90deg, rgb(226,226,226) 30%, rgb(242,242,242) 70%);
  background-image: -ms-linear-gradient( 90deg, rgb(226,226,226) 30%, rgb(242,242,242) 70%);
  font-size: 11px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);

}

.button-block {
  width: 100%;
}