
@mixin progress($progresbar_class, $container_class) {
    $progress: 100;
    input {
        visibility: hidden;
        float: left;
    }
    @while $progress > 0 {
        input[value="#{$progress}"] ~ div {
            width: $progress*1%;
        }
        $progress: $progress - 1;
    }

}

.custom-progress {
    $border-radius: 10px;
    $witdh: 500px;
    $height: 20px;
    $progresbar_class: custom-progress_meter;
    $container_class: custom-progress;    
    $container-bg: transparent;
    $bar-bg:  linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%);

    box-shadow:  0px 1px 5px 0px #777 inset;
    background: $container-bg;    
    border-radius: $border-radius + 2px;
    height: $height;
    width: $witdh;
    padding: 5px;

    .custom-progress_meter {
        height: 100%;
        background: $bar-bg;
        border-radius: $border-radius;
    }

    @include progress(
        $progresbar_class, $container_class
    );
}
