.ui-link
  text-decoration: none
  color: inherit
  border-bottom: 1px solid
  transition: border-color $t150, color $t150

  &--dashed
    border-bottom: 1px dashed

    &:hover
      border-color transparent

  &--grey
    color #353434
    border-color #353434

    &:hover
      border-color transparent

  &--blue
    color $cBlue
    border-color #3f93f1

    &:hover
      border-color transparent
