html,
body
  color: #000
  font-size: 16px
  line-height: 21px
  font-family: $baseFont

.l-page
  width: 100%
  padding-top: 100px
  overflow-x: hidden

.l-in
  max-width: $maxWidth
  margin: 0 auto
  padding: 0 $basePad