// Fonts
$baseFont = sans-serif

// Box
$maxWidth = 968px

$basePad = 20px

// Time
$t150 = 150ms
$t300 = 300ms

// Colors
$cGreen = #22b302
$cRed = #ea0000
$cYellow = #fffd09

$cBlue = #0070ed
$cSpaceBlue = #00112d

$cGrey = #333333
$cLGrey = #858585
$cDGrey = #00112D

$shadBase = 0 2px 12px 0 rgba(0, 17, 45, 0.07)