.vote-bar {
  display: inline-block;
  input[type="radio"] {
    display: none;
    &:checked ~ label {
      color: #FFC31E;
    }
    &:not(:checked) ~ label:hover,
    &:not(:checked) ~ label:hover ~ label {
      color: #FF8418;
    }
  }
  label {
    float: right;
    color: grey;
    cursor: pointer;

    &:after {
      content: "★";
      display: inline-block;
      font-size: 24px;
    }
  }
}