
/* line 297 : C:\work\projects\test-task\src-dev\styles\main.styl */

/* line 1 : C:\work\projects\test-task\node_modules\stylus\lib\functions\index.styl */

/* line 25 : C:\work\projects\test-task\node_modules\stylus\lib\functions\index.styl */

/* line 2 : C:\work\projects\test-task\src-dev\styles\variables.styl */

/* line 16 : C:\work\projects\test-task\src-dev\styles\variables.styl */

/* line 26 : C:\work\projects\test-task\src-dev\styles\layout.styl */

/* line 1 : C:\work\projects\test-task\src-dev\styles\layout.styl */
html,
body {
  color: #000;
  font-size: 16px;
  line-height: 21px;
  font-family: sans-serif;
}

/* line 8 : C:\work\projects\test-task\src-dev\styles\layout.styl */
.l-page {
  width: 100%;
  padding-top: 100px;
  overflow-x: hidden;
}

/* line 13 : C:\work\projects\test-task\src-dev\styles\layout.styl */
.l-in {
  max-width: 968px;
  margin: 0 auto;
  padding: 0 20px;
}

/* line 3 : C:\work\projects\test-task\src-dev\styles\layout.styl */

/* line 8 : C:\work\projects\test-task\src-dev\styles\ui\_ui.styl */

/* line 8 : C:\work\projects\test-task\src-dev\styles\ui\_ui.styl */

/* line 1 : C:\work\projects\test-task\src-dev\styles\ui\ui-typo.styl */

/* line 3 : C:\work\projects\test-task\src-dev\styles\ui\ui-typo.styl */
.ui-h1,
.ui-h2,
.ui-h3,
.ui-h4 {
  margin: 0;
  color: #333;
  font-weight: normal;
}

/* line 11 : C:\work\projects\test-task\src-dev\styles\ui\ui-typo.styl */
.ui-h3 {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 25px;
}

/* line 16 : C:\work\projects\test-task\src-dev\styles\ui\ui-typo.styl */
.ui-h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

/* line 20 : C:\work\projects\test-task\src-dev\styles\ui\ui-typo.styl */
.ui-pgh {
  margin: 0 0 25px 0;
}

/* line 23 : C:\work\projects\test-task\src-dev\styles\ui\ui-typo.styl */
.ui-pgh:last-child {
  margin-bottom: 0;
}

/* line 26 : C:\work\projects\test-task\src-dev\styles\ui\ui-typo.styl */
.ui-list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

/* line 31 : C:\work\projects\test-task\src-dev\styles\ui\ui-typo.styl */
.ui-list:last-child {
  margin-bottom: 0;
}

/* line 34 : C:\work\projects\test-task\src-dev\styles\ui\ui-typo.styl */
.ui-list li {
  list-style: none;
  position: relative;
}

/* line 38 : C:\work\projects\test-task\src-dev\styles\ui\ui-typo.styl */
.ui-list li:before {
  content: '—';
  position: absolute;
  font-size: 11px;
  color: #858585;
  left: -20px;
}

/* line 75 : C:\work\projects\test-task\src-dev\styles\ui\ui-typo.styl */

/* line 75 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */

/* line 1 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */
.ui-btn {
  background: none;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 16px;
  font-family: sans-serif;
  padding: 7px 12px;
  border-radius: 5px;
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 150ms;
}

/* line 16 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */
.ui-btn:focus,
.ui-btn:active {
  outline-style: none;
}

/* line 20 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */
.ui-btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

/* line 23 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */
.ui-btn i {
  margin-right: 10px;
}

/* line 26 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */
.ui-btn--disable {
  pointer-events: none;
  border-color: #ccc !important;
  color: #ccc !important;
  cursor: default !important;
  box-shadow: none !important;
  background: transparent !important;
}

/* line 34 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */
.ui-btn--disable:hover,
.ui-btn--disable:active {
  border-color: #ccc !important;
  color: #ccc !important;
  cursor: default !important;
  box-shadow: none !important;
  background: transparent !important;
}

/* line 42 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */
.ui-btn--big {
  padding: 12px 26px;
}

/* line 45 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */
.ui-btn--blank {
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 52 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */
.ui-btn--blue {
  color: #fff;
  background: #0070ed;
  box-shadow: 0 5px 18px 0 rgba(110,188,255,0.6);
}

/* line 57 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */
.ui-btn--blue:active,
.ui-btn--blue:hover {
  background: #2f92e6;
}

/* line 61 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */
.ui-btn--grey {
  color: #fff;
  background: #333;
}

/* line 65 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */
.ui-btn--grey:active,
.ui-btn--grey:hover {
  background: #5a5a5a;
}

/* line 69 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */
.ui-btn--green {
  color: #fff;
  background: #22b302;
}

/* line 73 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */
.ui-btn--green:active,
.ui-btn--green:hover {
  background: #33ca12;
}

/* line 25 : C:\work\projects\test-task\src-dev\styles\ui\ui-btns.styl */

/* line 19 : C:\work\projects\test-task\src-dev\styles\ui\ui-links.styl */

/* line 1 : C:\work\projects\test-task\src-dev\styles\ui\ui-links.styl */
.ui-link {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid;
  transition: border-color 150ms, color 150ms;
}

/* line 7 : C:\work\projects\test-task\src-dev\styles\ui\ui-links.styl */
.ui-link--dashed {
  border-bottom: 1px dashed;
}

/* line 10 : C:\work\projects\test-task\src-dev\styles\ui\ui-links.styl */
.ui-link--dashed:hover {
  border-color: transparent;
}

/* line 13 : C:\work\projects\test-task\src-dev\styles\ui\ui-links.styl */
.ui-link--grey {
  color: #353434;
  border-color: #353434;
}

/* line 17 : C:\work\projects\test-task\src-dev\styles\ui\ui-links.styl */
.ui-link--grey:hover {
  border-color: transparent;
}

/* line 20 : C:\work\projects\test-task\src-dev\styles\ui\ui-links.styl */
.ui-link--blue {
  color: #0070ed;
  border-color: #3f93f1;
}

/* line 24 : C:\work\projects\test-task\src-dev\styles\ui\ui-links.styl */
.ui-link--blue:hover {
  border-color: transparent;
}

/* line 12 : C:\work\projects\test-task\src-dev\styles\ui\ui-links.styl */

/* line 43 : C:\work\projects\test-task\src-dev\styles\blocks\_blocks.styl */

/* line 5 : C:\work\projects\test-task\src-dev\styles\blocks\_blocks.styl */

/* line 2 : C:\work\projects\test-task\src-dev\styles\blocks\b-col.styl */

/* line 1 : C:\work\projects\test-task\src-dev\styles\blocks\b-col.styl */
.b-col {
  -webkit-column-gap: normal;
          column-gap: normal;
}

/* line 4 : C:\work\projects\test-task\src-dev\styles\blocks\b-col.styl */
.b-col--two {
  -webkit-columns: 2;
          columns: 2;
}

/* line 8 : C:\work\projects\test-task\src-dev\styles\blocks\b-col.styl */

/* line 26 : C:\work\projects\test-task\src-dev\styles\blocks\b-text.styl */

/* line 1 : C:\work\projects\test-task\src-dev\styles\blocks\b-text.styl */

/* line 3 : C:\work\projects\test-task\src-dev\styles\blocks\b-text.styl */

/* line 4 : C:\work\projects\test-task\src-dev\styles\blocks\b-text.styl */
.b-text .ui-pgh:first-letter {
  padding-left: 20px;
}

/* line 7 : C:\work\projects\test-task\src-dev\styles\blocks\b-text.styl */
.b-text .b-col {
  -webkit-column-gap: 90px;
          column-gap: 90px;
}

/* line 26 : C:\work\projects\test-task\src-dev\styles\blocks\b-text.styl */

/* line 24 : C:\work\projects\test-task\src-dev\styles\blocks\b-rating.styl */

/* line 1 : C:\work\projects\test-task\src-dev\styles\blocks\b-rating.styl */
.b-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -3px;
}

/* line 6 : C:\work\projects\test-task\src-dev\styles\blocks\b-rating.styl */
.b-rating__one {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 3px;
  cursor: pointer;
  box-sizing: content-box;
}

/* line 14 : C:\work\projects\test-task\src-dev\styles\blocks\b-rating.styl */
.b-rating--big .b-rating__one {
  width: 22px;
  height: 22px;
}

/* line 18 : C:\work\projects\test-task\src-dev\styles\blocks\b-rating.styl */

/* line 20 : C:\work\projects\test-task\src-dev\styles\blocks\b-rating.styl */
.b-rating__one--filled svg,
.b-rating__one:hover svg {
  fill: #ffa500;
  stroke: #ffa500;
}

/* line 24 : C:\work\projects\test-task\src-dev\styles\blocks\b-rating.styl */
.b-rating__one svg {
  width: 100%;
  height: 100%;
}

/* line 3 : C:\work\projects\test-task\src-dev\styles\blocks\b-rating.styl */

/* line 4 : C:\work\projects\test-task\src-dev\styles\blocks\img-wr.styl */

/* line 1 : C:\work\projects\test-task\src-dev\styles\blocks\img-wr.styl */

/* line 2 : C:\work\projects\test-task\src-dev\styles\blocks\img-wr.styl */
.img-wr__alt {
  display: none;
}

/* line 34 : C:\work\projects\test-task\src-dev\styles\blocks\img-wr.styl */

/* line 34 : C:\work\projects\test-task\src-dev\styles\blocks\p-bar.styl */

/* line 1 : C:\work\projects\test-task\src-dev\styles\blocks\p-bar.styl */
.p-bar {
  width: 100%;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  text-align: center;
  position: relative;
  border-radius: 20px;
  font-size: 12px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3) inset;
}

/* line 14 : C:\work\projects\test-task\src-dev\styles\blocks\p-bar.styl */
.p-bar--big {
  height: 36px;
  font-size: 14px;
}

/* line 18 : C:\work\projects\test-task\src-dev\styles\blocks\p-bar.styl */

/* line 19 : C:\work\projects\test-task\src-dev\styles\blocks\p-bar.styl */
.p-bar--blue .p-bar__fill {
  background: #0070ed;
}

/* line 22 : C:\work\projects\test-task\src-dev\styles\blocks\p-bar.styl */

/* line 23 : C:\work\projects\test-task\src-dev\styles\blocks\p-bar.styl */
.p-bar--yellow .p-bar__fill {
  background: #ffe045;
}

/* line 26 : C:\work\projects\test-task\src-dev\styles\blocks\p-bar.styl */
.p-bar__val {
  position: relative;
}

/* line 29 : C:\work\projects\test-task\src-dev\styles\blocks\p-bar.styl */
.p-bar__fill {
  position: absolute;
  background: linear-gradient(to bottom, #b4e391 0%, #61c419 50%, #b4e391 100%);
  height: 100%;
  left: 0;
  bottom: 0;
}

/* line 43 : C:\work\projects\test-task\src-dev\styles\blocks\p-bar.styl */

/* line 3 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */

/* line 1 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */
.browser-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 4 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */
.browser-test .img-wr {
  margin-right: 20px;
}

/* line 7 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */
.browser-test .img-wr:last-child {
  margin: 0 0 0 auto;
}

/* line 10 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */

/* line 11 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */
.browser-test .img-wr._disabled .img-wr__img {
  display: none;
}

/* line 14 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */
.browser-test .img-wr._disabled .img-wr__alt {
  display: inline-block;
  padding: 0 20px;
}

/* line 18 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */
.browser-test .br-ie {
  color: #0070ed;
}

/* line 21 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */
.browser-test .br-ch {
  color: #0070ed;
}

/* line 24 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */
.browser-test .br-ch i {
  font-style: normal;
}

/* line 27 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */
.browser-test .br-ch i:nth-child(1) {
  color: #008000;
}

/* line 30 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */
.browser-test .br-ch i:nth-child(2) {
  color: #f00;
}

/* line 33 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */
.browser-test .br-ch i:nth-child(3) {
  color: #ff0;
}

/* line 36 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */
.browser-test .br-ff {
  color: #ffa500;
}

/* line 39 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */
.browser-test .br-op {
  color: #f00;
}

/* line 42 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */
.browser-test .br-sf {
  color: #808080;
}

/* line 3 : C:\work\projects\test-task\src-dev\styles\blocks\browser-test.styl */

/* line 9 : C:\work\projects\test-task\src-dev\styles\blocks\btns-test.styl */

/* line 1 : C:\work\projects\test-task\src-dev\styles\blocks\btns-test.styl */

/* line 2 : C:\work\projects\test-task\src-dev\styles\blocks\btns-test.styl */
.btns-test .ui-btn {
  margin-right: 40px;
}

/* line 3 : C:\work\projects\test-task\src-dev\styles\blocks\btns-test.styl */

/* line 11 : C:\work\projects\test-task\src-dev\styles\blocks\bar-test.styl */

/* line 1 : C:\work\projects\test-task\src-dev\styles\blocks\bar-test.styl */

/* line 2 : C:\work\projects\test-task\src-dev\styles\blocks\bar-test.styl */
.bar-test > div {
  margin-bottom: 25px;
}

/* line 11 : C:\work\projects\test-task\src-dev\styles\blocks\_blocks.styl */
.b-test {
  margin: 25px 0 50px 0;
}

/* line 10 : C:\work\projects\test-task\src-dev\styles\main.styl */
*,
*:before,
*:after {
  box-sizing: border-box;
}
