.browser-test
  display: flex

  .img-wr
    margin-right: 20px

    &:last-child
      margin: 0 0 0 auto

    &._disabled
      .img-wr__img
        display: none

      .img-wr__alt
        display: inline-block
        padding: 0 20px

  .br-ie
    color: $cBlue

  .br-ch
    color: $cBlue

    i
      font-style: normal

      &:nth-child(1)
        color: green

      &:nth-child(2)
        color: red

      &:nth-child(3)
        color: yellow

  .br-ff
    color: orange

  .br-op
    color: red

  .br-sf
    color: grey
