$color-text: #333;
$color-white: #fff;
$color-black: #000;
$color-accent: #00d500;

$color-firefox: #fdb010;
$color-opera: #d91323;
$color-safari: #7a7a7a;
$color-ie: #2c78b0;
$color-chrome-yellow: #faee58;
$color-chrome-red: #ea243c;
$color-chrome-green: #6bd78b;

$font-size-m: 20px;
$font-size-s: 16px;

$progress-bar-height: 25px;
$button-border-radius: 12px;
$browser-item-width: 126px;
